.App {
  /* 画面全体の高さを使用 */
  height: 100vh; /* viewport height = 画面の高さの100% */
  width: 100vw; /* viewport width = 画面の幅の100% */
  overflow: hidden; /* ★Appコンポーネント内でもスクロールを禁止 */
  position: relative; /* Noteコンポーネント (position: absolute) の基準となる */

  /* 必要に応じて背景色やテキスト色を設定 */
  background-color: #fbf2c7;
  color: #40545e; /* 例 */
}
