
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html, body, #root {
  height: 100%;     /* 親要素の高さいっぱいにする */
  width: 100%;      /* 親要素の幅いっぱいにする */
  margin: 0;        /* ブラウザのデフォルトマージンをリセット */
  padding: 0;       /* ブラウザのデフォルトパディングをリセット */
  overflow: hidden; /* ★★★ これがスクロールを禁止する設定 ★★★ */

  font-family: "DotGothic16", sans-serif; /* .dotgothic16-regular クラスの内容と同じ font-family を設定 */
  font-weight: 400; /* 必要であれば font-weight も設定 */
  font-style: normal;
}